.modal {
    position: fixed;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    display: none;
}

.modal-content {
    background: linear-gradient(150deg, #FFFFFF, #b1b1b1);
    padding: 20px;
    width: 381px;
    height: calc(100dvh - 80px);
    text-align: center;
    border-radius: 30px;
    max-width: 890px;
    max-height: 634px;
}

.modalNavigation{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#modalNumber{
    margin: 0;
    font-size: 32px;
    color: white;
}
.close {
    color: white;
    float: top;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}
.close:hover,
.close:focus {
    color: rgb(230, 51, 51);
    text-decoration: none;
    cursor: pointer;
}

.infoChart{
    height: 386px;
    background-color: white;
    margin-top: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
    padding: 16px;
}
.pokeChoise{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-transform: capitalize;
}
.pokeChoise button{
    width: 80px;
    height: 40px;
    background-color: white;
    border: none;
    border-radius: 50px;
    box-shadow: rgba(144, 144, 144, 0.35) 0px 3px 5px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.pokeChoise button:hover{
    background-color: white;
    box-shadow: rgba(208, 208, 208, 0.144) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
#modalSprite{
    width: 70%;
    margin-top: -200px;
}

.details{
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    flex-direction: row;
}
.left-details{
    width: 50%;
    display: flex;
    align-items: start;
    flex-direction: column;
}
.right-details{
    width: 50%;
    text-align: left;
    font-size: 14px;
}

#stats-table {
    text-align: left;
    text-transform: capitalize;
    font-size: 14px;
}

.showcase{
    width: 100%;
    height: 36px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.showcaseHeads{
    width: 100%;
    padding-top: 10px;
    display: flex;
    justify-content: space-around;
}
.showcaseHeads p{
    margin-block-start: 0;
    margin-block-end: 0;
    font-weight: bold;
    font-size: 15px;
}

#stats-body td{
    padding-right: 20px;
}

.splitline{
    height: 2px;
    width: 90%;
    background-color: rgba(185, 185, 185, 0.388);
}
